.block {
  width: 100px;
  height:100px ;
background-color: black;

border-radius: 50%;


}
body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
height: 100%;
width: 100%;
}
.main {
   
    display: flex;

}
.container {
margin: 0 auto;
max-width: 100%;
padding: 0 15px;
width: 100%;
}
.block:nth-child(2) {
background-color: brown;
justify-content: flex-end;


}










